In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("data/games.csv")

In [5]:
data.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [6]:
data.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [16]:
t1_picks = data.iloc[:,11:24:3]
t1_picks.head()

   t1_champ1id  t1_champ2id  t1_champ3id  t1_champ4id  t1_champ5id
0            8          432           96           11          112
1          119           39           76           10           35
2           18          141          267           68           38
3           57           63           29           61           36
4           19           29           40          119          134

In [17]:
t2_picks = data.iloc[:, 36:49:3]
t2_picks.head()

   t2_champ1id  t2_champ2id  t2_champ3id  t2_champ4id  t2_champ5id
0          104          498          122          238          412
1           54           25          120          157           92
2           69          412          126           24           22
3           90           19          412           92           22
4           37           59          141           38           51

In [22]:
picks = pd.concat([t1_picks, t2_picks], axis=1)
picks

,t1_champ1id,t1_champ2id,t1_champ3id,t1_champ4id,t1_champ5id,t2_champ1id,t2_champ2id,t2_champ3id,t2_champ4id,t2_champ5id
0,8,432,96,11,112,104,498,122,238,412
1,119,39,76,10,35,54,25,120,157,92
2,18,141,267,68,38,69,412,126,24,22
3,57,63,29,61,36,90,19,412,92,22
4,19,29,40,119,134,37,59,141,38,51
5,40,141,24,45,67,92,15,245,2,12
6,74,17,412,18,57,53,21,114,161,19
7,150,498,16,90,79,112,64,497,67,57
8,111,57,18,267,161,29,59,99,141,63
9,427,11,75,429,131,35,110,74,99,86
10,99,236,143,57,111,7,10,105,18,89
11,22,4,33,157,53,432,114,32,101,21
12,79,105,86,37,22,15,40,238,11,5
13,143,7,421,24,51,1,64,202,81,84
14,40,103,498,92,141,99,64,134,24,29
15,23,55,18,32,16,40,64,15,103,150
16,67,40,268,5,92,105,113,202,16,82
17,114,81,40,119,245,31,37,23,61,222
18,222,64,44,245,39,50,17,63,59,236
19,421,42,59,18,497,119,267,41,121,4
20,134,36,32,89,119,117,67,104,238,17
21,238,40,79,29,57,131,86,202,44,74
22,96,117,7,104,6,23,31,222,40,4
23,122,429,412,4,9,498,40,150,61,56
24,498,28,105,23,45,101,150,67,38,19
25,41,23,222,60,412,163,122,29,67,53
26,67,112,40,9,84,27,429,61,412,24
27,19,31,22,89,45,117,51,150,103,29
28,78,157,37,51,76,164,432,77,50,96
29,412,21,150,90,35,79,429,141,89,86
...,...,...,...,...,...,...,...,...,...,...
51460,21,45,58,11,63,75,32,89,111,98
51461,12,19,18,99,54,59,266,136,51,43
51462,6,245,40,18,141,74,63,150,59,21
51463,201,141,236,15,31,81,24,497,99,6
51464,84,22,412,11,420,202,497,122,76,131
51465,23,21,412,4,150,122,117,18,1,19
51466,42,53,150,157,19,18,35,201,17,1
51467,202,412,154,127,150,67,50,54,223,74
51468,25,18,36,55,35,103,420,59,119,40
51469,15,45,40,62,23,498,89,90,102,114
51470,90,32,222,117,30,114,64,498,37,69
51471,134,19,117,14,119,86,157,21,44,64
51472,150,56,119,497,163,22,59,16,2,61
51473,96,4,24,3,16,107,99,17,110,31
51474,32,240,25,202,412,67,40,99,33,157
51475,62,63,18,127,98,105,110,16,102,75
51476,498,89,84,39,35,6,59,412,74,222
51477,74,28,136,21,201,497,498,92,54,48
51478,103,29,421,35,117,127,40,64,54,236
51479,222,497,41,238,113,8,54,51,79,53
51480,497,498,19,150,61,67,432,238,2,76
51481,28,79,5,222,127,8,141,34,25,18
51482,134,75,96,117,223,103,86,64,5,67
51483,91,75,58,45,18,92,37,429,157,154
51484,110,63,7,35,31,44,202,11,84,141
51485,19,429,91,432,64,45,83,67,40,79
51486,90,32,31,412,18,102,429,89,75,45
51487,141,18,432,81,68,1,119,33,43,99
51488,121,236,420,201,99,21,56,25,30,11
51489,89,1,164,113,202,63,17,29,121,58